@charset "utf-8";

@import url('normalize.css');

body {
	background: url(../imagenes/denim.png);
	background-repeat: repeat;
	margin: 0px;
	background-attachment: fixed;
}

#contenedor {
	width: 1120px;
	margin: 0 auto;
	margin-top: 20px;
}

#contenido {
	width: 1120px;
	/*background-color: rgba(255, 255, 255, 0.9);*/
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px
}

.ui-widget {
	font-size: 1em;
}

.pnl-grid-sin-borde tr,.pnl-grid-sin-borde td {
	border: none;
}